@keyframes textfadein {
	from {opacity: 0;margin-top: 15px;}
	to {opacity: 1;margin-top: 0;}
}

#primary-fade {
	font-size: 36pt;
	font-family: arial;
	text-align: center;
	animation: textfadein 0.6s ease-out 0.3s normal forwards;
	opacity: 0;
	margin-top: 15px;
}

#secondary-fade {
	font-size: 12pt;
	font-family: arial;
	font-style: italic;
	text-align: center;
	animation: textfadein 0.7s ease-out 0.7s normal forwards;
	opacity: 0;
	margin-top: 15px;
}